.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-title-color);
}

.clients-title {
  @include font(700, 28px, 33px);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  @extend %align;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: var(--accent-color);
  }
}
.clients-list-company {
  width: 210px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
}

.clients-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }

  .clients-list-company {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-title {
    @include font(700, 36px, 42px);
    margin-bottom: 50px;
  }

  .clients-link {
    width: 170px;
  }

  .clients-list-company {
    width: 170px;
  }
}
